{{#if idComm}}
<h1 data-idNews='{{idNews}}' data-idComm='{{idComm}}'>Создание ответа</h1>
{{else}}
<h1 data-idNews='{{idNews}}'>Создание комментария</h1>
{{/if}}
<form>
    <div class="mb-3">
        <label for="messageInput" class="form-label">Текст комментария</label>
        <textarea class="form-control" name="message" id="messageInput" rows="3">Super</textarea>
    </div>
    <div class="mb-3">
        <label for="authorInput" class="form-label">Автор(пока userId)</label>
        <input class="form-control" name='userId' id='authorInput' value="2">
    </div>
    <button type="button" class="btn btn-primary" onclick="sendForm()">Создать</button>
</form>

<script src='https://code.jquery.com/jquery-3.6.4.min.js'></script>
<script>
    const idNews = document.querySelector('h1').dataset['idnews'];
    const idComm = document.querySelector('h1').dataset['idcomm'];


    function sendForm() {
        var data = new FormData($('form')[0]);

        $.ajax({
            url: `${idComm
                ? `/comments/api/${idNews}/${idComm}`
                : `/comments/api/${idNews}`
                } `,
            data: $('form').serialize(),
            type: 'POST',
            success: function (res) {
                console.log("responce", res)
                alert('Комментарий успешно создан!');
                window.location.replace(`http://localhost:3000/news/${idNews}/detail`);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        })
    }

</script>