<h1 data-id='{{news.id}}'>Редактирование новости</h1>
<form>
    <div class="mb-3">
        <label for="titleInput" class="form-label">Заголовок</label>
        <input class="form-control" name='title' id='titleInput' value="{{news.title}}">
    </div>
    <div class="mb-3">
        <label for="descriptionInput" class="form-label">Описание</label>
        <textarea class="form-control" name="description" id="descriptionInput" rows="3">{{news.description}}</textarea>
    </div>
    <div class="form-group">
        <label for="cover">Обложка новости</label>
        <input type="file" class="form-control-file" name="cover" id="cover">
    </div>
    <button type="button" class="btn btn-primary" onclick="sendForm()">Редактировать</button>
</form>

<script src='https://code.jquery.com/jquery-3.6.4.min.js'></script>
<script>
    const id = document.querySelector('h1').dataset['id']

    function sendForm() {
        var data = new FormData($('form')[0]);

        $.ajax({
            url: `/news/api/${id}`,
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            method: 'POST',
            success: function () {
                alert('Новость успешнa отредактирована!');
                window.location.replace(`http://localhost:3000/news/${id}/detail`);
            }
        })
    }

</script>